* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;

}


ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

main{

  padding-top: 16px;
  color: white;
  width: 800px;
  margin: 0 auto;

}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}


div {
  background-image: url("./img/bg_laranja.jpg");
  margin: 1rem;
  padding: 2rem;
  height: 10rem;
  width: 50rem;
  color: white;
  text-align: center;
  border-radius: 15px;

}
div h3{
  padding-bottom: 15px;
  font-size: 1.2rem ;
  font-weight: bold;
  margin-bottom: 5px;
}

section{
  display: flex;

}
body{
  background-color: rgb(14, 14, 129);
}
a{
  text-decoration: none;
}